<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EasyUPgrade Computers</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="icon" href="public/images/favicon.ico">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>EasyUP</span>grade Computers</h1>
    <h3><span class="txt-type" data-wait="3000" data-words='["Welcome", "Lets get started", "I am sure we can help You!"]'></span></h3>
    <div class="aboutus">
        <div class="centertext">You have had your computer for a while now and it just seems to be running slower and slower each day. You are nearing the point, where you
            just want to give up. It's frustrating, but what can you do. You know the computer shops ask a lot of money to upgrade, and normally they just want to sell you
            a new computer anyway. If only they understood, that you are on a budget and can't afford to buy that fancy smancy computer. 
        </div>
        <div><img src="public/images/computer.jpg" alt="Inside of a computer"></div>
    </div>
    <div class="aboutus">
        <div><img src="public/images/achievement.jpg" alt="Inside of a computer"></div>
        <div class="centertext">This is where we come in. We will search the internet for the best available deals and send you a quote, based on your budget. Once you are happy
            and payment has been made, we will get you up and running in no time. 
        </div>
    </div>

    <p>You can contact us by sending an email to <a class="contact-email" href="mailto:admin@easyup.co.za">admin@easyup.co.za</a> or by clicking the button below.</p>
    <a class="button" href="/send">Contact Us Form</a>

  </div>
  <footer>
      <div class="container">
          <div><strong>Disclaimer:</strong>  We will do our best to make sure you get the result you are looking for. Sometimes we purchase new parts and other times we 
              will look at the second hand market, but you will always be informed of what we are doing and what the costs are.
          </div>
      </div>
  </footer>

  <script src="public/js/main.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>