*{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  color:#485e74;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}

.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.email-sent {
  color: #fff;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

.brand{
  text-align: center;
}

.brand span{
  color: #fff;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

.aboutus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 400px;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.centertext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  background-color: #fff;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: black;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.modal-content .contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.modal-content .contact form label{
  display:block;
}

.modal-content .contact form p{
  margin:0;
}

.modal-content .contact form .full{
  grid-column: 1 / 3;
}

.modal-content .contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.modal-content .contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.modal-content .contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width: 650px) {
  .centertext {
    font-size: 0.7em;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  color: rgb(165, 164, 164);
  float: right;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button{
  width:200px;
  padding:1em;
  border:1px solid #c9e6ff;
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.button:hover, button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.contact-email {
  color: #485e74;
}

.contact-email:hover {
  background-color: #485e74;
  color:#92bde7;
}

#usage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  margin:0;
  grid-column: 1 / 3;
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

#location{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  margin:0;
  grid-column: 1 / 3;
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}